.hidden {
  display: none;
}

.bg-image {
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
}

#login-form,
#todo-form,
#clock,
#greeting,
#quote,
#weather {
  text-align: center;
}

#clock {
  margin: 0;
  font-size: 7rem;
}

#greeting {
  font-size: 5rem;
}

#quote,
#todo-list {
  font-size: 1.5rem;
  width: 50rem;
}

.delete-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#weather {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
