* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: "Spoqa Han Sans Neo", "Noto Sans KR", "Noto Sans CJK", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.u-no-display {
  display: none;
}
